@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: #0E1616;
    color: white;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    /*disable horizontal scroll*/

    font-family: 'Work Sans', Verdana, Tahoma, sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

nav {
    text-align: center;
    font-size: 20px;
    background-color: #252B2B;
    padding: 10px;

    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 100;
}

nav a {
    margin: 0 10px;
}

a {
    font-weight: 650;
    color: teal;
    padding: 5px;
    margin: -5px;
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    background-color: #2C3B3A;
}

h1 {
    font-family: 'Fuzzy Bubbles';
    text-transform: lowercase;
    font-size: 120px;
    color: teal;

    display: flex;
    justify-content: center;
    transform: rotate(-10deg);
    line-height: 0.8em;
    margin: 150px 0 80px 0;
    
    letter-spacing: -2px;
}

h2 {
    font-family: 'Fuzzy Bubbles';
    text-transform: lowercase;
    font-size: 250%;
    color: teal;
    margin: 0;
}

.override-lowercase {
    text-transform: none;
}

.content {
    margin: 0 15%;
    border: 2px solid #ff000000;
}

p,
li {
    font-size: 100%;
    line-height: 150%;
    font-weight: 370;
}

strong {
    color: teal;
}

img,
iframe {
    border: 2px solid white;
    border-radius: 10px;
    object-fit: cover; /* prevent aspect-ratio from squishing */
}

.grid-img {
    display: flex;
    gap: 20px;
    align-items: center;
}

.grid-img img {
    margin: 50px 0;
    width: 40%;
}

.grid-img p {
    text-align: justify;
}

.grid-big-img h2 {
    margin-bottom: -5px;
    /* line-height: 0.7em; */
}

.grid-big-img .subtitle {
    margin: 4px 0;
    font-style: italic;
    text-transform: capitalize;
}

.grid-big-img img,
.grid-big-img iframe {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.grid-big-img iframe {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    aspect-ratio: 2/1;
}

.grid-big-img p {
    margin: -5px 0 50px 0;
}



.recipe {
    margin-bottom: 50px;
}

.recipe h2 {
    margin: 0;
}

.recipe .blurb {
    margin-top: 0;
}

.recipe h3 {
    font-family: 'Fuzzy Bubbles';
    text-transform: lowercase;
    font-size: 150%;
    color: teal;

    margin: 0 0;
}

.recipe ol,
.recipe ul {
    margin: 0.5em 0;
    padding: 0 1.5em;
}

.recipe li {
    margin-bottom: 0.25em;
}

td {
    vertical-align: top;
}

.recipe img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 0 10px 10px -5px;
}


input {
    padding: 12px;
    margin: 10px 0;
    font-family: 'Work Sans';
    font-size: 15px;
}

input[type=submit] {
    background-color: teal;
}


.back-to-top {
    text-align: center;
    font-size: 20px;
    background-color: #252B2B;
    padding: 10px;

    margin: 100px 0 0 0;

    width: 100%;
    /* Full width */
    z-index: 100;
}



/************************* tablet **************************/
@media (min-width: 481px) and (max-width: 768px) {
    nav a {
        margin: 0 2px;
    }

    .content {
        margin: 0 10%;
    }

    h1 {
        /* color: green; */
        font-size: 100px;
    }

    h2 {
        font-size: 225%;
    }

    .grid-img img {
        width: 30%;
        aspect-ratio: 1;
    }

    .recipe img {
        width: 140px;
        height: 140px;
    }
}

/************************* mobile **************************/
@media (max-width: 480px) {
    nav {
        position: absolute;
    }

    nav a {
        display: block;
    }

    .content {
        margin: 0 5%;
    }

    h1 {
        /* color: red; */
        margin: 250px 0 50px;
        font-size: 70px;
    }

    h2 {
        font-size: 200%;
    }

    .grid-img img {
        width: 30%;
        aspect-ratio: 1;
    }

    /* recipes are tables with one row and 2 columns; the cells look like ".."
    this should stack them so that they look like ":"
    */
    .recipe td {
        display: block;
        width: 100%;
    }

    .recipe img {
        width: 250px;
        height: 250px;
    }

}